<h1>{{title}}</h1>
<p>
  <form class="" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="spreadsheet">
    <input type="submit" value="Upload">
  </form>
</p>
<p>Please note: due to Discogs rate limiting policy, please limit Excel spreadsheet to 60 items at a time, and wait at least 1 minute between uploads.</p>
